In [6]:
import pandas as pd

In [7]:
dt = pd.read_csv("../player_stats/pro_players.csv")
dt.head(10)

,Unnamed: 0,id,name,real_name,win_per,wins,losses,num_of_games,rank,kills,deaths,assists,kda,server
0,0,4483,Akaadian,Matthew Higginbotham,41%,7,10,17,Diamond IV,128,90,101,2.544444,NA1
1,1,4485,Aphromoo,Zaqueri Black,0%,0,1,1,Platinum I,0,5,7,1.400000,NA1
2,2,4500,Armut,İrfan Berk Tükek,48%,83,89,172,Master I,1069,1018,943,1.976424,EUW1
3,3,4506,Bjergsen,Søren Bjerg,57%,34,26,60,Diamond I,394,247,340,2.971660,NA1
4,4,4507,Bang,Bae Jun-sik (배준식),44%,24,30,54,Diamond IV,275,237,418,2.924051,KR
5,5,4509,Bdd,Kwak Bo-seong (곽보성),0%,0,1,1,Platinum I,3,4,2,1.250000,KR
6,6,4514,Boxbox,Albert Zheng,31%,11,24,35,Diamond II,176,148,208,2.594595,NA1
7,7,4521,Broxah,Mads Brock-Pedersen,53%,48,43,91,Master I,690,395,761,3.673418,NA1
8,8,4527,Broken Blade,Sergen Çelik,64%,47,26,73,Grandmaster I,508,395,442,2.405063,EUW1
9,9,4532,Caps,Rasmus Winther,55%,142,115,257,Grandmaster I,1951,1825,1510,1.896438,EUW1