In [2]:
import pandas as pd

In [25]:
teams =pd.read_csv("Teams.csv", encoding='latin-1')

In [37]:
r = teams["name"] == "T1"
teams[r]

   number name    earnings  gold  silver  bronze  premier
0       1   T1  $6,182,083    15       7       1       13

In [26]:
players =pd.read_csv("Players.csv", encoding='latin-1')

In [29]:
"Faker" in players['name']

False